fairseq==0.12.2
faiss-cpu==1.7.4
numpy==1.23.5
scikit-learn==1.3.0
torch==2.0.0 
torchvision==0.15.0
torchaudio==0.12.1
librosa==0.10.0.post2
tensorflow==2.13.0
av==10.0.0
pandas==2.0.3
requests==2.31.0
praat-parselmouth==0.4.3
tqdm==4.65.0
pyworld==0.3.2
mkl-static==2024.2.0
mkl-include==2024.2.0
matplotlib==3.9.1
matplotlib-inline==0.1.7
Pillow==9.5.0